<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ¡Que hermoso dia tenemos hoy!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="margin: 20px;">
    <h2>Acepta las notificaciones</h2>
    <ion-button (click)="afiliarNotificaciones()">Aceptar Notificaciones</ion-button>
  </div>


<div style="margin: 12px; align-content: center;">
  <h1>{{titulo}}</h1>
  <p >{{contenido}}</p>
<ion-button (click)="getMessage()">Obtener Mensaje</ion-button>
</div>

</ion-content>
