<div style="background-color: black;">
<ion-header [translucent]="true">
  <ion-toolbar>
<ion-title class="subtitulo">
  Remember.Me
</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid class="ion-padding" id="grid-screen" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 90vh; ">
  <ion-row class="ion-row">
    <ion-img
    class="ion-padding"
    src="https://static.thenounproject.com/png/3309405-200.png">

    </ion-img>
  </ion-row>
  <ion-row class="ion-row">
    <ion-col class="titulo">
      {{titulo}}
    </ion-col>
  </ion-row>

  <ion-row class="ion-row ">
    <ion-col class="contenido">
      {{contenido}}
    </ion-col>
  </ion-row>

  <ion-row class="ion-row">
    <ion-col class="">
      <ion-button fill="outline" (click)="getMessage()" color="dark">Obtener Mensaje</ion-button>
    </ion-col>
  </ion-row>

</ion-grid>

</div>
